version: '3.8'

services:
  doc-converter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: doc-converter
    volumes:
      - ./raw_data:/app/raw_data:rw
      - ./prepared_data:/app/prepared_data:rw
    environment:
      - RAW_DATA_DIR=/app/raw_data
      - PREPARED_DATA_DIR=/app/prepared_data
      - SKIP_EMPTY=false
      - MAX_WORKERS=4
      - HOME=/tmp  # Критически важно для LibreOffice под пользователем nobody
    command: []
    restart: "no"

# Для просмотра логов: docker-compose logs -f
# Для повторного запуска: docker-compose up --force-recreate
